@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  #main-image {
    @apply bg-cover bg-center;
    background-image: url('image1.jpg');
  }

  #possibilities article:first-child {
    @apply bg-cover bg-center;
    background-image: url('1.png');
  }

  #possibilities article:last-child {
    @apply bg-cover bg-center;
    background-image: url('our.webp');
  }
}
