@tailwind base;
@tailwind components;
@tailwind utilities;

#main-image {
    background-image: url('image1.jpg');
}

#possibilities article:first-child {
    background-image: url('1.png');
}

#possibilities article:last-child {
    background-image: url('our.webp');
}

